<%- partial('../partials/header') %>

<div class="container">

	<% var stand = undefined; if(stands.length > 0){ stand = stands[0]; } %>
  <% if(stand.id != null) { %>
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="/stand/users/<%= stand.id %>"><%= i18n('Personnel') %></a></li>
    <li class="active"><a href="/stand/invitations/<%= stand.id %>"><%= i18n('Invitations') %></a></li>
    <li><a href="/stand/questionnaires/<%= stand.id %>"><%= i18n('Questionnaires') %></a></li>
    <li><a href="/stand/traces/<%= stand.id %>"><%= i18n('Traces') %></a></li>
    <li><a href="/stand/kickuser/<%= stand.id %>"><%= i18n('Remove participants') %></a></li>
  </ul>
  <div class="page-header"><h2><%= i18n('Create new invitations') %> <small><%= stand.name %></small></h2></div>
  <% } %>

	<form id="invite_user_form" action="create" method="post" role="form" class="form-horizontal" >
		<fieldset>

			<div class="form-group">
			  <label class="control-label" for="input_name"><%= i18n('Inviter name') %> (<%= i18n('required') %>)</label>
			    <input id="input_name" name="input_name" type="text" readonly value="<%= user.firstname + ' ' + user.lastname %>" class="form-control">
			</div>

	    <div class="form-group">
	      <label class="control-label" for="input_stand_id"><%= i18n('Stand') %> (<%= i18n('required') %>)</label>
	        <select id="input_stand_id" name="input_stand_id" class="form-control">
	          <% _.each(stands, function (s) { %>
	            <option value="<%= s.id %>"><%= s.name %></option>
	          <% }) %>            
	        </select>
	    </div>
			
			<div class="form-group">
			  <label class="control-label" for="input_firstname"><%= i18n('Invitee name') %> (<%= i18n('required') %>)</label>
			  <div class="form-inline">
			    <input id="input_firstname" name="input_firstname" type="text" placeholder="Firstname" class="form-control">
			    <input id="input_lastname" name="input_lastname" type="text" placeholder="Lastname" class="form-control">
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label" for="input_email"><%= i18n('Invitee email') %> (<%= i18n('required') %>)</label>
			    <input id="input_email" name="input_email" type="email" placeholder="john.doe@example.com" class="form-control">
			</div>

			<div class="form-group">
			  <label class="control-label" for="input_message"><%= i18n('Message') %> (<%= i18n('required') %>)</label>
			    ​<textarea id="input_message" name="input_message" rows="10" class="form-control">
<%= message %>
			  	</textarea>
			</div>

			<div class="form-group">
			    <button id="input_submit" name="input_submit" class="btn btn-primary pull-right"><%= i18n('Send') %></button>
			</div>

		</fieldset>
	</form>

</div>

<script>
window.onload = function() {
// Attach a submit handler to the form
$( "#invite_user_form" ).submit(function( event ) {
 
  // Stop form from submitting normally
  event.preventDefault();
 
  // Get some values from elements on the page:
  var $form = $( this ),
    input_name = $form.find( "#input_name" ).val(),
    input_firstname = $form.find( "#input_firstname" ).val(),
    input_lastname = $form.find( "#input_lastname" ).val(),
    input_stand_id = $form.find( "#input_stand_id" ).val(),
    input_email = $form.find( "#input_email" ).val(),
    input_message = $form.find( "#input_message" ).val().replace(new RegExp('\n','g'), '<br />');
    url = $form.attr( "action" );
 
  // Send the data using post
	var posting = $.post( url, 
		{ 
			input_name: input_name,
			input_firstname: input_firstname,
			input_lastname: input_lastname,
			input_stand_id: input_stand_id,
			input_email: input_email,
			input_message: input_message
		} 
	).done(function(data) {
    console.log(data);
    var content = data.msg;
    var box = bootbox.alert(content);
    setTimeout(function() {
    	box.modal('hide');
    	$( "#invite_user_form" ).find( "#input_email" ).val('');
    	$( "#invite_user_form" ).find( "#input_firstname" ).val('');
    	$( "#invite_user_form" ).find( "#input_lastname" ).val('');
		}, 1500);
  }).fail(function(err) {
    var box = bootbox.alert("ERROR: " + err);
  });
});
}
</script>