<!-- Create new holder -->

<div class="container">

  <div class="page-header">
    <h2><%= i18n('Sign up') %></h2>
  </div>
 
	<form class="form-horizontal" role="form" action="create" method="post">
		<fieldset>

			<legend><%= i18n('Enter your details') %></legend>
			<div class="form-group">
			  <label for="input_firstname"><%= i18n('Firstname') %> (<%= i18n('required') %>)</label>
			    <input id="input_firstname" name="input_firstname" type="text" placeholder="John" class="form-control">
			</div>

			<div class="form-group">
			  <label for="input_lastname"><%= i18n('Lastname') %> (<%= i18n('required') %>)</label>
			    <input id="input_lastname" name="input_lastname" type="text" placeholder="Doe" class="form-control">
			</div>

			<div class="form-group">
			  <label for="input_username"><%= i18n('Username') %> (<%= i18n('required') %>)</label>
			    <input id="input_username" name="input_username" type="text" placeholder="jdoe" class="form-control">
			</div>

			<div class="form-group">
			  <label for="input_email"><%= i18n('Email') %> (<%= i18n('required') %>)</label>
			    <input id="input_email" name="input_email" type="email" placeholder="john.doe@example.com" class="form-control">
			</div>

			<div class="form-group">
			  <label for="input_password1"><%= i18n('Password') %> (<%= i18n('required') %>)</label>
			    <input id="input_password1" name="input_password1" type="password" placeholder="" class="form-control">
			</div>

			<div class="form-group">
			  <label for="input_password2"><%= i18n('Repeat Password') %> (<%= i18n('required') %>)</label>
			    <input id="input_password2" name="input_password2" type="password" placeholder="" class="form-control">
			</div>

			<div class="form-group">
			    <button id="input_submit" name="input_submit" class="btn btn-primary pull-right"><%= i18n('Submit') %></button>
			</div>

		</fieldset>
	</form>

</div>

<%- partial('../partials/footer')%>