<%- partial('../partials/header') %>

<div class="container">
	<div class="page-header">
    <h2><%= user.firstname %> <%= user.lastname %></h2>
  </div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <%= i18n('Upcoming shifts') %> <span class="badge success" id="upcoming_shifts_badge"></span>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body" id="upcoming_shifts">

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <%= i18n('Questionnaires') %>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body" id="questionnaires">
        Not implemented
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <%= i18n('Messages') %>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" id="messages">
      <div class="panel-body">
        Not implemented
      </div>
    </div>
  </div>
</div>
  
	<div id='calendar' class="calendar"></div>

	<button style="margin-top: 5px" type="button" disabled class="btn btn-danger pull-right" id="google_events_to_reservations"><%=i18n('Turn all Google events into reservations') %></button>
</div>

<!-- Modal -->
<div class="modal fade" id="assign_shift_modal" tabindex="-1" role="dialog" aria-labelledby="assign_shift_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="assign_shift_title">Modal title</h4>
      </div>
      <div class="modal-body">
      	<div id="assign_shift_shift_description"></div>
      	<div id="assign_shift_now_assigned_to"></div>
      </div>
      <div class="modal-footer">
			  <button id="accept_shift_button" class="btn btn-success"><%= i18n('Accept') %></button>
			  <button id="reject_shift_button" class="btn btn-danger"><%= i18n('Reject') %></button>
			  <button type="button" class="btn btn-default" data-dismiss="modal"><%= i18n('Close') %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
var user_id = "<%= user.id %>";
var user_fullname = "<%= user.firstname %> <%= user.lastname %>";
var last_calendar_event_clicked = {};
var google_events = [];

var accept_shift = function(shift_id) {
  $("#assign_shift_modal").modal("hide");	
  // Send the data using post
	var posting = $.post( '/shift/update/' + shift_id, 
		{ 
			input_assigned_to_id: user_id,
			input_assigned_to_name: user_fullname,
			input_accepted: 'true',
			input_email_sent: 'true'
		} 
	).done(function(data) {
    var content = data.msg;
    var box = bootbox.alert('' + content);
		setTimeout(function() {
    	box.modal('hide');
    	$('#calendar').fullCalendar( 'refetchEvents' );
		}, 1500);
  }).fail(function(err) {
    var box = bootbox.alert("ERROR: " + err);
  });
};

var decline_shift = function(shift_id) {
  $("#assign_shift_modal").modal("hide");	
  // Send the data using post
	var posting = $.post( '/shift/update/' + shift_id, 
		{ 
			input_assigned_to_id: '-1'
		} 
	).done(function(data) {
    var content = data.msg;
    var box = bootbox.alert('' + content);
		setTimeout(function() {
    	box.modal('hide');
    	$('#calendar').fullCalendar( 'refetchEvents' );
		}, 1500);
  }).fail(function(err) {
    var box = bootbox.alert("ERROR: " + err);
  });
}

window.onload = function() {


	$(document).ready(function() {

		var get_upcoming_shifts = function () {
			var today = new Date();
			var next_year = new Date(today.getTime() + 1000*60*60*24*365);
			$("#upcoming_shifts").empty();
			$.get("/user/findShifts/"+user_id+"?start=" + today.toString() + "&end=" + next_year.toString())
			.done(function(data) {
				if(data.length == 0) {
					$("#upcoming_shifts").append('<p><%= i18n("You do not have any shift assignments yet!") %></p>');
					return;
				}
				$("#upcoming_shifts_badge").text(data.length);
				$("#upcoming_shifts").append('<table class="table" id="upcoming_shifts_table">\
	        	<tr>\
	        		<th><%= i18n('Stand') %></th>\
	        		<th><%= i18n('Day') %></th>\
	        		<th><%= i18n('Starts') %></th>\
	        		<th><%= i18n('Ends') %></th>\
	        		<th><%= i18n('Answer') %></th>\
	        		<th><%= i18n('Link') %></th>\
	        	</tr>\
	        </table>');			
				var rowTemplate = "<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td><a href='#' onClick='accept_shift({4});return false;'><%= i18n('Accept') %></a> / <a href='#'  onClick='decline_shift({4});return false;'><%= i18n('Decline') %></a></td><td></td></tr>";
				var rowTemplate_accepted = "<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td><%= i18n('Accepted') %></td><td><a href='{4}' target='_blank'>#</a></td></tr>";
				$.each(data, function(index, shift) {
					var day = moment(shift.start).format('DD.MM.YYYY');
					var starts = moment(shift.start).format('HH:mm');
					var ends = moment(shift.end).format('HH:mm');
					var answer_link = 'http://<%= req.headers.host %>/shift/response/' + shift.id + '?user_id=' + user_id;
					var yeslink = answer_link + '&answer=yes';
					var nolink = answer_link + '&answer=no';
					var link = 'http://<%= req.headers.host %>/shift/find/' + shift.id + '?user_id=' + user_id;
					if(shift.accepted == true) {
						$("#upcoming_shifts_table").append(rowTemplate_accepted.format(shift.title, day, starts, ends, link));
					} else {
						$("#upcoming_shifts_table").append(rowTemplate.format(shift.title, day, starts, ends, '"' + shift.id + '"'));
					}
				})
			})
		};

		$( "#google_events_to_reservations" ).click(function( event ) {
			var box = bootbox.confirm("This will generate " + google_events.length + " new reservations. Are you sure?", function(ok) {
				if(ok) {
					$.each(google_events, function(i, item){
						$.post( "/reservation/create", 
							{ 
								input_title: item.title,
								input_all_day: "",
								input_start: moment(item.start).format("YYYY-MM-DDTHH:mm"),
								input_end: moment(item.end).format("YYYY-MM-DDTHH:mm")
							} 
						).done(function() {
					  }).fail(function(err) {
					    var box = bootbox.alert("ERROR: " + err);
					  });	
					});
					setTimeout(function(){
						$('#calendar').fullCalendar( 'refetchEvents' );		
					}, 2000)
				}
			})
		});

		$( "#accept_shift_button" ).click(function( event ) {
		  // Stop form from submitting normally
		  event.preventDefault();
		  $("#assign_shift_modal").modal("hide");	
		  // Send the data using post
			var posting = $.post( '/shift/update/' + last_calendar_event_clicked.id, 
				{ 
					input_assigned_to_id: user_id,
					input_assigned_to_name: user_fullname,
					input_accepted: 'true',
					input_email_sent: 'true'
				} 
			).done(function(data) {
		    var content = data.msg;
		    var box = bootbox.alert('' + content);
				setTimeout(function() {
		    	box.modal('hide');
		    	$('#calendar').fullCalendar( 'refetchEvents' );
				}, 1500);
		  }).fail(function(err) {
		    var box = bootbox.alert("ERROR: " + err);
		  });
		});

		$( "#reject_shift_button" ).click(function( event ) {
		  // Stop form from submitting normally
		  event.preventDefault();
		  $("#assign_shift_modal").modal("hide");	
		  // Send the data using post
			var posting = $.post( '/shift/update/' + last_calendar_event_clicked.id, 
				{ 
					input_assigned_to_id: '-1'
				} 
			).done(function(data) {
		    var content = data.msg;
		    var box = bootbox.alert('' + content);
				setTimeout(function() {
		    	box.modal('hide');
		    	$('#calendar').fullCalendar( 'refetchEvents' );
				}, 1500);
		  }).fail(function(err) {
		    var box = bootbox.alert("ERROR: " + err);
		  });
		});

		$('#calendar').fullCalendar({
			header: {
	        left: 'prev,next today',
	        center: 'title',
	        right: 'month,agendaWeek,agendaDay'
	    },
	    height: 800,
	    defaultView: 'agendaWeek',
	    lang: (window.navigator.userLanguage || window.navigator.language),
	    firstDay: 1, // monday
	    minTime: '07:00:00', // Could be determined in the backend
	    maxTime: '20:00:00', // Could be determined in the backend
			selectable: true,
			selectHelper: true,
			axisFormat: 'HH:mm',
			timeFormat: {
			    agenda: 'H:mm',
			    month: 'H:mm'
			},
			eventClick: function(calEvent, jsEvent, view) {
				last_calendar_event_clicked = calEvent;	
				if(calEvent.type == "shift") {
					if(calEvent.accepted) { 
						$('#accept_shift_button').prop('disabled', true);
						$('#reject_shift_button').prop('disabled', true);
					} else {
						$('#accept_shift_button').prop('disabled', false);
						$('#reject_shift_button').prop('disabled', false);
						$('#accept_shift_button').prop('enabled', true);
						$('#reject_shift_button').prop('enabled', true);
					}
					var now_accepted_text = calEvent.accepted ? "" : "not";
					$("#assign_shift_now_assigned_to").text("You have " + now_accepted_text + " accepted the shift.");
					$("#assign_shift_title").text(calEvent.title);	
					$("#assign_shift_shift_description").text(moment(calEvent.start).format('MMM Do') + " @ " + moment(calEvent.start).format('HH:mm') + "-" + moment(calEvent.end).format('HH:mm') + " " + calEvent.title);	
					$('#assign_shift_modal').modal('show');
				} if(calEvent.type == "reservation") {
					bootbox.confirm("Are you sure you want to remove this reservation (" + moment(calEvent.start).format('MMM Do') + " @ " +moment(calEvent.start).format('HH:mm') + "-" + moment(calEvent.end).format('HH:mm') + "?)", function(result) {
					  if(result) {
							$('#calendar').fullCalendar( 'removeEvents', calEvent.id );
							var posting = $.post( '/reservation/destroy/' + calEvent.id).done(function(data) {
						    console.log(data.msg);
						    $('#calendar').fullCalendar( 'refetchEvents' );
						  }).fail(function(err) {
						    var box = bootbox.alert("ERROR: " + err);
						  });			  	
					  }
					}); 
				}
	    },
			select: function(start, end, jsEvent, view) {
				var createReservation = function(eventData) {
					$.post( "/reservation/create", 
						{ 
							input_title: eventData.title,
							input_all_day: "",
							input_start: eventData.start.format(),
							input_end: eventData.end.format()
						} 
					).done(function() {
				    var box = bootbox.alert("New reservation created!");
						setTimeout(function() {
				    	box.modal('hide');
				    	$('#calendar').fullCalendar('renderEvent', eventData, false);
				  		$('#calendar').fullCalendar('unselect');
				  		$('#calendar').fullCalendar( 'refetchEvents' );
						}, 1000);
				  }).fail(function(err) {
				    var box = bootbox.alert("ERROR: " + err);
				  });		
				};
				if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
					bootbox.prompt("You are creating a reservation with a mobile device. Your reservation starts " + 
						start.format('ddd M/D HH:mm') + ". Please enter the end time as 'HH:MM'.", function(result) {                
					  if (result === null) {
					  	bootbox.alert("End time ("+result+") is invalid!");
					  	return;                          
					  } else {
					    var time_parts = result.split(':');
					    if(time_parts.length == 2) {
					    	time_parts[0] = parseInt(time_parts[0]);
					    	time_parts[1] = parseInt(time_parts[1]);
					    	if(
					    		isNaN(time_parts[0]) || 
					    		isNaN(time_parts[1]) || 
					    		time_parts[0] < 0 || 
					    		time_parts[0] > 23 || 
					    		time_parts[0] < start.hour() ||
					    		time_parts[1] > 59 ||
					    		time_parts[1] < 0
					    		) {
					    		bootbox.alert("End time ("+result+") is invalid!");
					    		return;
					    	}
					    	end.hours(time_parts[0]);
					  		end.minutes(time_parts[1]);
								var eventData = {
									title: "Reservation",
									start: start,
									end: end
								};
					  		createReservation(eventData);
					  	}
					  	else {
					  		bootbox.alert("End time ("+result+") is invalid!");
					  		return;
					  	}
					  }
					});
				} else {
					var eventData = {
						title: "Reservation",
						start: start,
						end: end
					};
		  		createReservation(eventData);
				}
			},
			loading : function(isLoading, view) {
				if(isLoading) {
					get_upcoming_shifts();
					google_events = [];
					$('#google_events_to_reservations').prop('disabled', true);
				} else {
					if(google_events.length > 0) {
						$('#google_events_to_reservations').prop('disabled', false);
						$('#google_events_to_reservations').prop('enabled', true);
					}
				}
			},
		  eventSources: [
		    {
		    	url: "../shifts/" + user_id,
		    	dataType: 'json',
		    	error: function(err) {
		    		var box = bootbox.alert("ERROR: " + err);
	        },
	        eventDataTransform: function(event) {
	        	event.type="shift";
	        	event.color = event.accepted ? 'green' : 'blue';
	        	return event;
	        }
	      },
	      {
		    	url: "../reservations/" + user_id,
		    	dataType: 'json',
		    	error: function(err) {
		    		var box = bootbox.alert("ERROR: " + err);
	        },
	        eventDataTransform: function(event) {
	        	event.type = "reservation";
	        	event.color = 'red';
	        	return event;
	        }
	      },
	      {
		    	url: "../google_calendar_imported/" + user_id,
		    	dataType: 'json',
		    	error: function(err) {
		    		var box = bootbox.alert("ERROR: " + err.msg);
	        },
	        eventDataTransform: function(event) {
	        	event.type = "gcalevent";
	        	event.color = 'grey';
	        	google_events.push(event);
	        	return event;
	        }
	      }
		  ]
		});
	});
	socket.on('connect', function () {
	  socket.on('user_' + user_id, function (data) {
	    if(data.msg.indexOf('Shift') >= 0) {
	    	$('#calendar').fullCalendar( 'refetchEvents' );
	      $.notifyBar({ 
	        cssClass: "success", 
	        html: data.msg,
	        position: "bottom"
	      });
	    }
	  });
	});
 }
</script>