<div class="container">
	<% if(msg.indexOf('ERROR') >= 0) { %>
		<p><%= i18n('There was a mistake in the system. Perhaps you have already answered to this assignment. See error message below:') %>
		<div class="alert alert-danger" role="alert"><%= msg %></div>
	<% } else { %>
		<% if(req.query.answer == 'yes') { %>
			<div class="alert alert-success" role="alert">
				<h4><%= i18n('Shift accepted :)') %></h4>
				<%= i18n('Your answer is now saved, welcome to the shift!') %></div>
				<p>
					<% var link = 'http://' + req.headers.host + '/shift/find/' + shift.id + '?user_id=' + shift.assigned_to_id %>
					<%= i18n('You can use the link below to check the current status of your shift.') %><br>
					<a href="<%= link %>"><%= link %></a>
				</p>
		<% } else { %>
			<div class="alert alert-info" role="alert">
				<h4><%= i18n('Shift declined :(') %></h4>
				<%= i18n('Your answer is now saved! Stay tuned for new shift opportunities.') %></div>
				<p><%= i18n('If you want, you can tell the reason via email to stand owner. Please use the link below to send the email.') %><br>
				<% var start = new Date(shift.start) %>
			  <a href="mailto:<%= created_by.email %>?subject=<%= i18n('Reason for declining') %> (<%= start.toLocaleString() %>)&body=<%= i18n('Hi, I declined the shift because of...') %>"><%= i18n('Send reason via email') %></a></p>
		<% } %>
	<% } %>

</div>