<div class="container">

<h1><%= i18n("Thank you!") %> <small><%= i18n("Your answers are saved.") %></small></h1>
<p><%= i18n("Below you can view your current calendar.") %></p>
<table class="table">
	<tr>
		<th><%= i18n('Day') %></th>
		<th><%= i18n('8-10') %></th>
		<th><%= i18n('10-12') %></th>
		<th><%= i18n('12-14') %></th>
		<th><%= i18n('14-16') %></th>
		<th><%= i18n('16-18') %></th>
	</tr>
	<% var days = [i18n('Sun'),i18n('Mon'),i18n('Tue'),i18n('Wed'),i18n('Thu'),i18n('Fri'),i18n('Sat')] %>
	<% _.each(reservation_table, function(r, i){ %>
		<tr>
			<th><%= i18n(days[i]) %></th>
			<% _.each(r, function(slot){ %>
			<td class="<%= (slot == 'available') ? 'success' : 'danger' %>"><%= i18n(slot) %></td>
			<% }); %>
		</tr>
	<% }); %>
	
</table>

<% var expire_str = moment(expires).format('YYYY-MM-DD') %>
<p><%= i18n("Your answers expire in") %> <%= expire_str %>. <%= i18n("Please fill the form again before that") %>.</p>

<p><%= i18n("You can fill the questionnaire again at any time.") %> <%= i18n("You can use the same questionnaire link as you did today.") %> <%= i18n("Click") %> <a href="javascript:history.back()"><%= i18n("here") %></a> <%= i18n("to modify your answers now.") %></p>

<p><%= i18n("You can also") %> <a href="/login"><%= i18n("log in") %></a> <%= i18n("to view your personal account") %>.</p>
</div>