<%- partial('../partials/header') %>

<div class="container">
	<div class="page-header">
    <h2><%= stand.name %> <small><%= stand.description %></small></h2>
  </div>

<div class="alert alert-info" role="alert" id="unsent_email_count" style="display: none;">
<h4><%= i18n('You have unsent assignment emails') %></h4>
<span class="badge" id="unsent_email_count_badge"><%= unsent_email_count %></span> <%= i18n("assignment emails are ready to be sent.") %>
<div class="clearfix">
	<button style="margin-top: 5px" url="/shift/sendEmails/<%= stand.id %>" class="btn btn-xs btn-primary pull-right" id="send_assignments_emails_btn"><%= i18n('Send assignments') %></button>
</div>
</div>


	<div id='calendar' class="calendar"></div>

<!-- Modal --> 
<div class="modal fade" id="assign_shift_modal" tabindex="-1" role="dialog" aria-labelledby="assign_shift_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="assign_shift_title">Modal title</h4>
      </div>
      <div class="modal-body">
      	<div><%= i18n("Shift is assigned to") %> <span id="assign_shift_now_assigned_to"></span>
      		<button id="accept_shift_button" class="btn btn-success btn-xs pull-right" disabled><%= i18n('Mark accepted') %></button> 
      		<button id="unassign_shift_button" style="margin-left: 4px; margin-right: 4px;" class="btn btn-warning btn-xs pull-right"><%= i18n('Unassign') %></button><br>
      		<%= i18n("Users available:") %> <span id="users_available_count"></span></div>
				<form action="/shift/update" id="assign_shift_form" method="post" role="form">
					<fieldset>
				    <legend><%= i18n('Assign the shift to') %></legend>
				    <div class="form-group">
				      <label for="input_assigned_to_id"><%= i18n('Name') %></label>
				      <select id="input_assigned_to_id" name="input_assigned_to_id" class="form-control"></select>
				      <p class="help-block"><span id="upcoming_shift_count"></span> <%= i18n("upcoming shift(s)") %>.</p>
				    </div>
				    <div class="form-group">
				      <button id="input_submit" name="input_submit" class="btn btn-primary pull-right"><%= i18n('Assign') %></button>
				    </div>

				  </fieldset>
				</form>
      </div>
      <div class="modal-footer">
			  <button id="delete_shift_button" class="btn btn-danger"><%= i18n('Delete shift') %></button>
			  <button type="button" class="btn btn-default" data-dismiss="modal"><%= i18n('Close') %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript"> 
var stand_id = "<%= stand.id %>";
var stand_name = "<%= stand.name %>";
var last_calendar_event_clicked = {};

$(document).ready(function() {

$( "#send_assignments_emails_btn" ).click(function( event ) {
  // Stop form from submitting normally
  event.preventDefault();

  // Send the data using delete
  $.get('/shift/sendEmails/' + stand_id)
  .done(function(result) {
    var box = bootbox.alert("Assignment emails sent!");
		setTimeout(function() {
    	box.modal('hide');
    	$('#calendar').fullCalendar( 'refetchEvents' );
		}, 1500);  	
  })
  .fail(function(err) {
    var box = bootbox.alert("Sending emails failed!");
  });
});


$( "#delete_shift_button" ).click(function( event ) {
  // Stop form from submitting normally
  event.preventDefault();

  $("#assign_shift_modal").modal("hide");	

  // Send the data using delete
  $.ajax({
    url: '/shift/destroy/' + last_calendar_event_clicked.id,
    type: 'DELETE',
    success: function(result) {
	    var box = bootbox.alert("Shift deleted!");
			setTimeout(function() {
	    	box.modal('hide');
	    	$('#calendar').fullCalendar( 'refetchEvents' );
			}, 1500);
    }, 
    fail: function(result) {
    	var box = bootbox.alert("Deleting shift was not successfull!");
    }
	});

});

$( "#unassign_shift_button" ).click(function( event ) {
  // Stop form from submitting normally
  event.preventDefault();
  $("#assign_shift_modal").modal("hide");	
  // Send the data using post
	var posting = $.post( '/shift/update/' + last_calendar_event_clicked.id, 
		{ 
			input_assigned_to_id: '-1'
		} 
	).done(function(data) {
    var content = data.msg;
    var box = bootbox.alert('' + content);
		setTimeout(function() {
    	box.modal('hide');
    	$('#calendar').fullCalendar( 'refetchEvents' );
		}, 1500);
  }).fail(function(err) {
    var box = bootbox.alert("ERROR: " + err);
  });
});

$( "#accept_shift_button" ).click(function( event ) {
  // Stop form from submitting normally
  event.preventDefault();
  var box = bootbox.confirm("You are about to accept the shift and override user email confirmation. Are you sure?", function(result) {
  	if(result) {
		  $("#assign_shift_modal").modal("hide");	
		  var assigned_to_id   = last_calendar_event_clicked.assigned_to_id,
		      assigned_to_name = last_calendar_event_clicked.assigned_to_name;
		  // Send the data using post
			var posting = $.post( '/shift/update/' + last_calendar_event_clicked.id, 
				{ 
					input_assigned_to_id   : assigned_to_id,
					input_assigned_to_name : assigned_to_name,
					input_accepted         : true,
					input_email_sent       : true
				} 
			).done(function(data) {
		    var content = data.msg;
		    var box = bootbox.alert('' + content);
				setTimeout(function() {
		    	box.modal('hide');
		    	$('#calendar').fullCalendar( 'refetchEvents' );
					var posting = $.post( '/shift/sendShiftReminder/' + last_calendar_event_clicked.id, 
						{ 
							input_user_id  : assigned_to_id,
							input_stand_id : stand_id
						} 
					).done(function(data) {
				    var content = data.msg;
				    var box = bootbox.alert('' + content);
						setTimeout(function() {
				    	box.modal('hide');
						}, 1500);
				  })
				}, 1500);
		  }).fail(function(err) {
		    var box = bootbox.alert("ERROR: " + err);
		  });  		
  	}
  });

});

// Attach a submit handler to the form
$( "#assign_shift_form" ).submit(function( event ) {
 
  // Stop form from submitting normally
  event.preventDefault();
 
  // Get some values from elements on the page:
  var $form = $( this ),
    assigned_to_id = $form.find( "select[name='input_assigned_to_id']" ).val(),
    assigned_to_name = $form.find( "#input_assigned_to_id option:selected" ).text().trim(),
    url = $form.attr( "action" );
 
  // Send the data using post
	var posting = $.post( url, 
		{ 
			input_assigned_to_id: assigned_to_id,
			input_assigned_to_name: assigned_to_name
		} 
	).done(function(data) {
    console.log(data);
    var content = data.msg;
    var box = bootbox.alert(content);
    setTimeout(function() {
    	box.modal('hide');
    	$('#calendar').fullCalendar( 'refetchEvents' );
		}, 1500);
    $('#calendar').fullCalendar( 'refetchEvents' );
    $("#assign_shift_modal").modal("hide");	
  }).fail(function(err) {
    var box = bootbox.alert("ERROR: " + err);
  });
});

$('#input_assigned_to_id').on('change', function() {
    if (this.value == 'disabled') {
        $('optgroup option').prop('disabled', true);
    } else {
        $('optgroup option').prop('disabled', false);
    }
    var assigned_to_id = $("#input_assigned_to_id").val();
    $.get('/shift/upcomingShiftCount/' + assigned_to_id + '?stand_id=' + stand_id)
    .done(function(result) {
      $("#upcoming_shift_count").text(result.shift_count); 	
	  });
});

});

$(document).ready(function() {
	$('#calendar').fullCalendar({
		header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
    },
    height: 800,
    defaultView: 'agendaWeek',
    firstDay: 1, // monday
    minTime: '07:00:00', // Could be determined in the backend
    maxTime: '20:00:00', // Could be determined in the backend
		selectable: true,
		selectHelper: true,
		axisFormat: 'HH:mm',
		lang: (window.navigator.userLanguage || window.navigator.language),
		timeFormat: {
		    agenda: 'H:mm',
		    month: 'H:mm'
		},
		loading: function(isloading) {
			if(!isloading) {
				$.get("/stand/unsentEmailCount/" + stand_id)
				.done(function(data){
					if(data.unsent_email_count != null) {
						$("#unsent_email_count_badge").text(data.unsent_email_count);
						if(data.unsent_email_count > 0) {
							$("#unsent_email_count").show(800);
						}
						else if(data.unsent_email_count == 0) {
							$("#unsent_email_count").hide(500);
						}
					}
				});
			}
		},
		eventClick: function(calEvent, jsEvent, view) {
			if(!calEvent.assigned) { 
				$('#unassign_shift_button').prop('disabled', true);
				$('#accept_shift_button').prop('disabled', true);
			} else {
				$('#unassign_shift_button').prop('disabled', false);
				$('#unassign_shift_button').prop('enabled', true);
				$('#accept_shift_button').prop('disabled', false);
				$('#accept_shift_button').prop('enabled', true);
				if(calEvent.accepted) {
					$('#accept_shift_button').prop('disabled', true);
				}
			}
			$.get("/stand/possibleusers/" + stand_id, 
				{start: calEvent.start.format(), end: calEvent.end.format()}
			).done(function(data) {
				calEvent.reserved_users = data.reserved_users;
				calEvent.available_users = data.available_users;
				last_calendar_event_clicked = calEvent;	

				var select = $("#input_assigned_to_id");
				select.find('option').remove().end();
				select.find('optgroup').remove().end();
				$('#no_available_users').remove();
				if(data.available_users) {
					$('#users_available_count').text(data.available_users.length);
				}
				$.each(data.available_users, function(i, user) {
				  select.append($("<option />").val(user.id).text(user.firstname + ' ' + user.lastname + (user.male ? ' (M)' : ' (F)')));
				});
				if(data.reserved_users.length > 0) {
					select.append($("<optgroup />").val("disabled").attr("label", "Reserved users"));
					$.each(data.reserved_users, function(i, user) {
					  select.append($("<option />").val(user.id).text(user.firstname + ' ' + user.lastname + (user.male ? ' (M)' : ' (F)')));
					});
				}
				if(data.assigned_users.length > 0) {
					select.append($("<optgroup />").val("disabled").attr("label", "Assigned users"));
					$.each(data.assigned_users, function(i, user) {
					  select.append($("<option />").val(user.id).text(user.firstname + ' ' + user.lastname + (user.male ? ' (M)' : ' (F)')));
					});
				}
				$("#assign_shift_form").attr("action","/shift/update/" + calEvent.id);
				var assigned_to_text = (calEvent.assigned_to_name == null || calEvent.assigned_to_name.length == 0) ? 'nobody' : calEvent.assigned_to_name;
				$("#assign_shift_now_assigned_to").text(assigned_to_text);
				$("#assign_shift_title").text(moment(calEvent.start).format('MMM Do') + " @ " + moment(calEvent.start).format('HH:mm') + "-" + moment(calEvent.end).format('HH:mm') + " " + calEvent.title);	
				$('#assign_shift_modal').modal('show');
		    var assigned_to_id = $("#input_assigned_to_id").val();
		    $.get('/shift/upcomingShiftCount/' + assigned_to_id + '?stand_id=' + stand_id)
		    .done(function(result) {
		      $("#upcoming_shift_count").text(result.shift_count); 	
			  });
			}).fail(function(err) {
	    	var box = bootbox.alert("ERROR: " + err);
	  	});
    },
		select: function(start, end, jsEvent, view) {
			var title = stand_name;
			var eventData = {
				title: title,
				start: start,
				end: end
			};
			$.post( "/shift/create", 
				{ 
					input_title: stand_name, 
					input_stand_id: stand_id,
					input_all_day: "",
					input_start: eventData.start.format(),
					input_end: eventData.end.format()
				} 
			).done(function() {
		    var box = bootbox.alert("New shift created!");
				setTimeout(function() {
		    	box.modal('hide');
		    	$('#calendar').fullCalendar('renderEvent', eventData, false);
	  			$('#calendar').fullCalendar('unselect');
	  			$('#calendar').fullCalendar( 'refetchEvents' );
				}, 1000);				
		  }).fail(function(err) {
		    var box = bootbox.alert("ERROR: " + err);
		  });				
		},
	  eventSources: [
	    {
	    	url: "../shifts/" + stand_id,
	    	dataType: 'json',
	    	error: function(err) {
	    		var box = bootbox.alert("ERROR: " + err.msg);
        },
        eventDataTransform: function(event) {
        	event.color = event.assigned ? (event.accepted ? 'green' : 'orange') : 'red';
        	if(event.assigned_to_name)
        		event.title = event.assigned_to_name.length > 0 ? event.assigned_to_name : event.title;
        	return event;
        }
      }
	  ]
	});
});
</script>