<%- partial('../partials/header')%>

<div class="container">
  <div class="page-header"><h2><%= i18n('My Stands') %></h2></div>

  <h3><%= i18n('You are a member of the following stands') %></h3>
  <% if(participate_stands.length == 0) {  %>
  	<%= i18n('You are not invited to any stands yet!') %>
  <% } %>
  <% _.each(participate_stands, function (i) { %>
    <div class="panel panel-default">
    	<div class="panel-heading">
        <h4 class="panel-title"><%= i.name %></h4>
      </div>
      <div class="panel-body">
        <p><%= i.description %></p>
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= i.lat %>,<%= i.lng %>&zoom=13&size=240x160&maptype=roadmap
&markers=<%= i.lat %>,<%= i.lng %>" /><br />
        <small><i class="fa fa-map-marker"></i> <i><%= i.location %> (<a target="_blank" href="http://maps.google.com/maps?q=<%= i.lat %>,<%= i.lng %>&ll=<%= i.lat %>,<%= i.lng %>&z=14"><%= i18n('Show map') %></a>)</i></small>
      </div>
      <div class="panel-footer clearfix">
        <div>
          <button url="/user/resign/<%= i.id %>" standName="<%= i.name %>" class="btn btn-danger btn-xs resign_button"><%= i18n('Resign') %></button>
        </div>
      </div>
    </div>
  <% }) %>

  <h3><%= i18n('Your owned stands') %></h3>
  <% if(owned_stands.length == 0) {  %>
  	<%= i18n('You do not have any stands yet!') %>
  <% } %>
  <% _.each(owned_stands, function (i) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="/stand/find/<%= i.id %>"><%= i.name %></a></h4>
      </div>
      <div class="panel-body">
        <p><%= i.description %></p>
        <small><i class="fa fa-map-marker"></i> <i><%= i.location %> (<a target="_blank" href="http://maps.google.com/maps?q=<%= i.lat %>,<%= i.lng %>&ll=<%= i.lat %>,<%= i.lng %>&z=14"><%= i18n('Show map') %></a>)</i></small>
      </div>
      <div class="panel-footer clearfix">
        <div>
          <a href="/stand/find/<%= i.id %>" class="btn btn-primary btn-xs"><%= i18n('Assign shifts') %></a>
          <a href="/stand/users/<%= i.id %>" class="btn btn-default btn-xs"><%= i18n('Personnel') %></a>
        </div>
      </div>
    </div>
  <% }) %>

  <hr>
  <div class="container">
    <ul class="breadcrumb list-inline">
    	<li><a href="/stand/create"><i class="fa fa-plus"></i> <%= i18n('Create new stand') %></a></li>
    </ul>
  </div>
</div>

<script>
// Attach a submit handler to the form
$( ".resign_button" ).click(function( event ) {
 
  // Stop form from submitting normally
  event.preventDefault();
  
  var name = $(this).attr( "standName" );
  var url = $(this).attr( "url" );
  bootbox.confirm("Are you sure you want to resign from stand " + name + "?", function(ok) {
    if(ok) {
      // Send the data using post
      var posting = $.post( url, 
        { 
          input_action: 'resign'
        } 
      ).done(function(data) {
        console.log(data);
        var content = data.msg;
        var box = bootbox.alert('' + content, function() {
          window.location.replace("/stand");
        });
      }).fail(function(err) {
        var box = bootbox.alert("ERROR: " + err.msg);
      });
    }
  });

});

</script>