<%- partial('../partials/header')%>

<div class="container">
  <div class="page-header"><h2><%= i18n('My Stands') %></h2></div>

  <h3><%= i18n('You are a member of the following stands') %></h3>
  <% if(participate_stands.length == 0) {  %>
  	<%= i18n('You are not invited to any stands yet!') %>
  <% } %>
  <% _.each(participate_stands, function (i) { %>
    <div class="panel panel-default">
    	<div class="panel-heading">
        <h4 class="panel-title"><%= i.name %></h4>
      </div>
      <div class="panel-body">
      	<%= i.description %>
      </div>
      <div class="panel-footer"><%= i.location %></div>
    </div>
  <% }) %>

  <h3><%= i18n('Your owned stands') %></h3>
  <% if(owned_stands.length == 0) {  %>
  	<%= i18n('You do not have any stands yet!') %>
  <% } %>
  <% _.each(owned_stands, function (i) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="/stand/find/<%= i.id %>"><%= i.name %></a></h4>
      </div>
      <div class="panel-body">
        <%= i.description %>
        <a href="/stand/find/<%= i.id %>" class="btn btn-default btn-xs pull-right"><%= i18n('Manage') %></a>
      </div>
      <div class="panel-footer"><%= i.location %></div>
    </div>
  <% }) %>

  <hr>

	<a href="/stand/create"><%= i18n('Create new stand') %></a>
  <a href="/invitation/create"><%= i18n('Invite others to my stand') %></a>
	<a href="/stand/kickuser/1"><%= i18n('Kick someone off from my stand') %></a>

</div>