<%- partial('../partials/header') %>

<div class="container">

  <% if(stand.id != null) { %>
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="/stand/users/<%= stand.id %>"><%= i18n('Personnel') %></a></li>
    <li><a href="/stand/invitations/<%= stand.id %>"><%= i18n('Invitations') %></a></li>
    <li><a href="/stand/questionnaires/<%= stand.id %>"><%= i18n('Questionnaires') %></a></li>
    <li><a href="/stand/traces/<%= stand.id %>"><%= i18n('Traces') %></a></li>
    <li class="active"><a href="/stand/kickuser/<%= stand.id %>"><%= i18n('Remove participants') %></a></li>
  </ul>
  <% } %>
  <div class="page-header"><h2><%= i18n('Remove participants') %> <small><%= stand.name %></small></h2></div>
  
	<form action="/stand/kickuser/<%= stand.id %>" method="post" role="form" class="form-horizontal" id="kickuser_form" >
		<fieldset>

	    <div class="form-group">
	      <label class="control-label" for="input_stand_name"><%= i18n('Stand') %></label>
			    <input id="input_stand_name" name="input_stand_name" type="text" readonly value="<%= stand.name %>" class="form-control">
			    <input id="input_stand_id" name="input_stand_id" type="hidden" readonly value="<%= stand.id %>" class="form-control" >
	    </div>

	    <div class="form-group">
	      <label class="control-label" for="input_user_id"><%= i18n('User') %> (<%= i18n('required') %>)</label>
	        <select id="input_user_id" name="input_user_id" class="form-control">
	        	<option selected="true" disabled="disabled" value="-1"><%= i18n('Select user') %></option>
	          <% _.each(users, function (u) { %>
	            <option value="<%= u.id %>" email="<%= u.email %>"><%= u.firstname %> <%= u.lastname %></option>
	          <% }) %>
	        </select>
	    </div>

			<div class="form-group">
			  <label class="control-label" for="input_email"><%= i18n('User Email') %> (<%= i18n('required') %>)</label>
			   <input id="input_email" readonly name="input_email" type="email" placeholder="john.doe@example.com" class="form-control">
			</div>

			<div class="form-group">
			  <label class="control-label" for="input_message"><%= i18n('Message') %> (<%= i18n('required') %>)</label>
			    ​<textarea id="input_message" name="input_message" rows="9" class="form-control">
Hi,

I removed you from stand _standname. Thank you for your service!

BR,
_myfullname
			  	</textarea>
			</div>

			<div class="form-group">
			    <button id="input_submit" name="input_submit" class="btn btn-primary pull-right"><%= i18n('Send') %></button>
			</div>

		</fieldset>
	</form>

</div>

<script>
$('#input_user_id').on('change', function() {
	$('#input_email').val($('#input_user_id option:selected').attr('email'));
});
</script>

<script>
window.onload = function() {
// Attach a submit handler to the form
$( "#kickuser_form" ).submit(function( event ) {
 
  // Stop form from submitting normally
  event.preventDefault();
 
  // Get some values from elements on the page:
  var $form = $( this ),
    input_stand_name = $form.find( "#input_stand_name" ).val(),
    input_stand_id = $form.find( "#input_stand_id" ).val(),
    input_user_id = $form.find( "#input_user_id" ).val(),
    input_email = $form.find( "#input_email" ).val(),
    input_message = $form.find( "#input_message" ).val().replace(new RegExp('\n','g'), '<br />');
    url = $form.attr( "action" );
 
  // Send the data using post
	var posting = $.post( url, 
		{ 
			input_stand_name: input_stand_name,
			input_stand_id: input_stand_id,
			input_user_id: input_user_id,
			input_email: input_email,
			input_message: input_message
		} 
	).done(function(data) {
    console.log(data);
    var content = data.msg;
    var box = bootbox.confirm(content + " Do you want to remove another participant?", function(result) {
    	if(result) {
    		// reload the page
    		location.reload(true);
    	} else {
    		// redirect to /stand
    		window.location.replace("/stand");
    	}
    });
  }).fail(function(err) {
    var box = bootbox.alert("ERROR: " + err.msg);
  });
});
}
</script>