<%- partial('../partials/header')%>

<div class="container">
  <% if(stand.id != null) { %>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#"><%= i18n('Personnel') %></a></li>
    <li><a href="/stand/invitations/<%= stand.id %>"><%= i18n('Invitations') %></a></li>
    <li><a href="/stand/questionnaires/<%= stand.id %>"><%= i18n('Questionnaires') %></a></li>
    <li><a href="/stand/traces/<%= stand.id %>"><%= i18n('Traces') %></a></li>
    <li><a href="/stand/kickuser/<%= stand.id %>"><%= i18n('Remove participants') %></a></li>
  </ul>
  <% } %>
  <div class="page-header"><h2><%= i18n('Personnel') %> <small><%= stand.name %></small></h2></div>
  
  <% if(users.length == 0) { %>
  	<p><%= i18n('You do not have any personnel yet!') %></p>
  <% } else { %>
  	<table class="table">
  		<tr>
  			<th><%= i18n('Name') %></th>
        <th><%= i18n('Email') %></th>
  			<th><%= i18n('Tel.') %></th>
  			<th><%= i18n('Gender') %></th>
  		</tr>
  		<% _.each(users, function(u) { %>
  			<tr>
  				<td><%= (u.firstname + ' ' + u.lastname) %></td>
  				<td><%= u.email %></td>
  				<td><%= (u.tel ? u.tel : 'n/a') %></td>
  				<td><%= (u.male ? 'male' : 'female') %></td>
  			</tr>
  		<% }) %>
  	</table>

  <% } %>

</div>